@import url(./base.css);
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 2rem 1fr 2rem;

  grid-template-areas:
    "header"
    "nav "
    "main  "
    "footer  ";
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  grid-area: header;
  padding: 1rem;
}

header > nav > menu {
  display: flex;
  align-items: center;
  width: 10rem;
}
header > nav > menu > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}

nav[aria-label="categorias"] > menu {
  height: 2rem;
  display: flex;
}

footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
}

footer > a {
  padding: 0 1rem;
}

img {
  margin: auto;
}

article {
  margin: auto;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

article {
  margin: 0 1rem 2rem 1rem;
}
header > nav > menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 620px) {
  body {
    display: grid;
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 5rem 1fr 2rem;

    grid-template-areas:
      "header header"
      "nav main "
      "footer footer ";
  }

  header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 5rem;
    grid-area: header;
  }

  header > nav > menu {
    display: flex;
    align-items: center;
  }
  header > nav > menu > li {
    display: flex;
    align-items: center;
    align-items: center;
  }

  nav[aria-label="categorias"] > menu {
    width: 10rem;
    display: flex;
    flex-direction: column;
  }

  a {
    margin-right: 1rem;
  }

  footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
  }

  footer > a {
    padding: 0 1rem;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  article {
    margin: 0 2rem 2rem 1rem;
  }
  header > nav > menu {
    display: flex;
    align-items: center;
  }
}
