* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

main {
  padding: 0 6rem;
}
section {
  margin: 4rem 0;
}
header {
  background-color: rgb(130, 130, 248);
  text-align: center;
  padding: 5rem 0;
}

h1 {
  color: white;
  font: 30px;
}

table {
  margin: 2rem 0;
}

h2 {
  color: blue;
  font-size: 24px;
}

.importante {
  font-weight: bold;
  text-decoration: underline;
}
li {
  list-style-type: circle;
  margin: 1rem 2rem;
}

thead > tr {
  background-color: rgb(131, 131, 224);
  color: white;
}

th,
td {
  padding: 1rem 2rem;
}

tbody > tr:nth-of-type(odd) {
  background-color: rgb(155, 150, 219);
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(141, 105, 241);
}

tbody > tr > th {
  background-color: rgb(80, 62, 240);
}

#descanso {
  color: black;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}
